<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Healthy Spiders - Dodaj pająka</title>
  <link rel="stylesheet" href="/css/style_user.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>

<div class="header">
  <div class="head-container">
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search...">
      <button class="search-icon"><i class="bi bi-search"></i></button>
    </div>
  </div>
</div>

<div class="container">

  <div class="side-left">
    <div class="side-menu">
      <a th:href="@{/user_view/}" class="menu-item nav-link">Wyświetl pająki</a>
      <a th:href="@{/user_view/addSpiderForm}" class="menu-item nav-link">Dodaj pająka</a>
      <div class="line"></div>
      <a href="#" class="menu-item">przypomnienia</a>
      <a href="#" class="menu-item">Dodaj przypomnienie</a>
      <a href="#" class="menu-item"></a>
        <div class="line"></div>
        <a href="#" onclick="document.getElementById('logoutForm').submit();" class="menu-item">Wyloguj</a>
        <form id="logoutForm" action="#" method="POST" th:action="@{/logout}" style="display: none"></form>
    </div>
  </div>

    <div class="center">
    <h1>Dodaj pająka</h1>
        <form th:action="${spiderForm.id != null ? '/user_view/saveEditedSpider' : '/user_view/addSpiderForm'}" method="post" th:object="${spiderForm}">

          <input type="hidden" th:field="*{id}" />


          <label for="name">Nazwa pająka:</label>
          <input type="text" id="name" name="name" th:field="*{name}" required>

          <label for="species">Gatunek:</label>
          <input type="text" id="species" name="species" th:field="*{species}" required>

          <label for="latestMolt">Ostatnia wylinka:</label>
          <input type="date" id="latestMolt" name="latestMolt" th:field="*{moltDate}">

            <button type="submit" th:text="${spiderForm.id != null ? 'Zapisz edycję' : 'Dodaj pająka'}">Zapisz</button>
      </form>
</div>


  <div class="side-right"></div>

</div>
</body>
</html>
