<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Healthy Spiders</title>
    <link rel="stylesheet" href="/css/style_user.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>

    <div class="header">

        <div class="head-container">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-icon"><i class="bi bi-search"></i></button>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="side-left">
            <div class="side-menu">
                <a href="#" class="menu-item">Wyświetl pająki</a>
                <a href="#" class="menu-item">Dodaj pająka</a>
                <div class="line"></div>
                <a href="#" class="menu-item">przypomnienia</a>
                <a href="#" class="menu-item">Dodaj przypomnienie</a>
                <a href="#" class="menu-item"></a>
            </div>
        </div>

        <div class="center">

        </div>

        <div class="side-right">

        </div>
    </div>

 
</body>
</html>