@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6D5A72;
}

.container{
    display: flex;
}

.page3 {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6) inset;
    font-family: 'Comfortaa';
    display: flex;
    background-color: #F3AA60;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.page3 .container{
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    background-color: #FA9F42;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.page3 form {
    background-color: #fdfcf6;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 36vh;
    height: 38vh;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.page3 label {
    display: block;
    margin-bottom: 10px;
}

.page3 input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    color: #fdfcf6;
    background-color: #FA9F42;
    filter: drop-shadow(0 0 0.1rem #FA9F42);
    padding: 14px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover {
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.6));
    background-color: #6D5A72;
    transition: 0.3s;
}

.tekst2{
    font-family: 'Righteous', sans-serif;
    width: 80vh;
    margin-bottom: 60px;
    text-align: center;
}

.tekst2 h1{
    font-size: 3.8em;
    text-transform: uppercase;
    padding-bottom: 16px;
    color: #F1EFE4;
    text-shadow:
            0.04em 0.04em 0.008em #1d1c1a,
            0.08em 0.08em 0.008em #F3AA60,
            0.12em 0.12em 0.008em #EF6262,
            0.17em 0.17em 0.008em #468B97;
    filter: drop-shadow(0 0 0.2rem);
}

.tekst2 p{
    color: #FA9F42;
    font-size: 1.8em;
    text-shadow:
            0.05em 0.05em 0.01em #1d1c1a;
    filter: drop-shadow(0 0 0.2rem #1d1c1a);
}